<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/sidebar.ejs") %>

    <main class="main">
        <!-- Form Container -->
        <section class="form-container">
            <button class="hamburger-btn"><i class="fa-solid fa-bars"></i></button>

            <h4 class="manage-articles-title">Add Article</h4>

            <!-- Form -->
            <form id="myForm">
                <div class="form-group">
                    <input type="text" placeholder="Product Name" name="name" required />
                    <label for="name" class="form-label">Product Name</label>
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Product Size" name="size" required />
                    <label for="size" class="form-label">Product Size</label>
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Product Price" name="price" required />
                    <label for="price" class="form-label">Product Price</label>
                </div>
                <select name="category" required>
                    <option value="">Product Category</option>
                    <% if(articleCategories.length !== 0) { %>
                        <% articleCategories.forEach((articleCategory) => { %>
                            <option value="<%= articleCategory.name %>"><%= articleCategory.name.replace(/-/g, " ") %></option>
                        <% }) %>
                    <% } %>
                </select>
                <!-- Upload Elements -->
                <div class="upload-area">
                    <input type="file" class="upload-input" name="article-images" multiple required />
                    <button type="button" class="upload-btn"><i class="fa-solid fa-images"></i></button>
                    <p>Browse Photos to Upload</p>
                </div>
                <button class="submit-btn">Submit</button>
                <!-- Progress Bar -->
                <div class="progress-container">
                    <progress class="progress-bar" value="0" max="100"></progress>
                    <label for="progress-bar">0%</label>
                </div>
            </form>
        </section>

        <!-- Pending Article Space -->
        <section class="pending-articles">
            <h4 class="manage-articles-title">Pending Articles</h4>
            <div class="articles">
                <div class="circle"></div>
            </div>
            <button class="launch-btn">Launch</button>
        </section>

        <!-- Article List Button -->
        <a class="article-list-btn" href="/dashboard/manage-articles/articles">
            <p>Article List</p>
            <i class="fa-solid fa-circle-right"></i>
        </a>
    </main>

    <!-- Popup -->
    <%- include("./partials/popup.ejs") %>

    <script>
        //--------------- DOM Elements
        //Form
        const formContainer = document.querySelector('.form-container');
        const myForm = document.getElementById('myForm');
        const submitBtn = document.querySelector('.submit-btn');
        //Upload Elements
        const fileInput = document.querySelector('.upload-input');
        const uploadBtn = document.querySelector('.upload-area');
        const uploadTextEl = uploadBtn.querySelector('p');
        //Progress Bar
        const progressContainer = document.querySelector('.progress-container'); 
        const progressBar = document.querySelector('.progress-bar');
        //Pending Articles Space
        const pendingArticlesContainer = document.querySelector('.articles');
        const pendingArticlesLoadingAnim = pendingArticlesContainer.querySelector('.circle');
        const launchBtn = document.querySelector('.launch-btn');
        //Sidebar
        const hamburgerBtn = document.querySelector('.hamburger-btn');
        const categoriesSection = document.querySelector('.categories-section');
        const categoriesContainer = document.querySelector('.categories-container');
        const manageBtn = document.querySelector('.manage-btn');
        //Popup
        const popupContainer = document.querySelector('.popup-container');
        const popupIcone = popupContainer.querySelector('.popup-icone');
        const popupMessage = popupContainer.querySelector('p');

        //--------------- Variables
        
        //--------------- Function Calls
        setSidebarBtnClass();
        showPendingArticles();
        
        //--------------- Event Listeners
        launchBtn.addEventListener('click', launchArticles);

        myForm.addEventListener('submit', (e) => {
            e.preventDefault();

            // Images
            const userImgs = fileInput.files;

            // Form Data
            const formData = new FormData(myForm);
            formData.append('article-images', userImgs);

            const req = new XMLHttpRequest();

            req.open('POST', "/dashboard/manage-articles");

            req.upload.addEventListener('progress', (e) => {
                // Replace Submit Button by Progress Container
                submitBtn.style.display = "none";
                progressContainer.style.display = "flex";
                
                const percentComplete = (e.loaded / e.total) * 100;

                progressBar.setAttribute("value", percentComplete);
                progressBar.nextElementSibling.innerText = Math.round(percentComplete) + "%";
            })

            req.addEventListener('load', () => {
                //console.log("Upload Complete");

                // Refresh UI after Upload is Finished
                clearUI();
                // Refresh Pending Articles List
                showPendingArticles();
            })

            req.send(formData);
        })

        uploadBtn.addEventListener('click', () => fileInput.click());

        fileInput.addEventListener('change', (e) => uploadTextEl.innerText = `${e.target.files.length} Photos selected`);

        hamburgerBtn.addEventListener('click', () => {
            categoriesSection.classList.toggle('show');
            hamburgerBtn.classList.toggle('translate-btn');
            categoriesContainer.classList.toggle('show-menu');
        })
        categoriesSection.addEventListener('click', (e) => {
            if(e.target.classList.contains('categories-section')) {
                categoriesSection.classList.toggle('show');
                hamburgerBtn.classList.toggle('translate-btn');
                categoriesContainer.classList.toggle('show-menu');
            }
        })

        //--------------- Functions
        async function getPendingArticles() {
            const api = await fetch('/api/json/articles?p=y');
            const data = await api.json();

            return data.articles;
        }
        
        async function showPendingArticles() {
            // Clear Pending Articles Container
            pendingArticlesContainer.innerHTML = "";
            
            // Show Loading Animation
            pendingArticlesLoadingAnim.style.display = "block";

            const articlesData = await getPendingArticles();

            if(articlesData.length > 0) {
                // Remove Loading Animation
                pendingArticlesLoadingAnim.style.display = "none";

                articlesData.forEach((article) => {
                    const articleEl = document.createElement('div');
                    articleEl.classList.add("article-element");

                    articleEl.innerHTML = `
                        <button class="remove-article" title="Delete Article" data-id="${article._id}"><i class="fa-solid fa-circle-xmark"></i></button>
                        <figure class="article-header">
                            <img src=${article.image_thumbnail} alt=${article.name} />
                        </figure>
                        <div class="article-body">
                            <h3 class="article-name">${article.name}</h3>
                            <p>${article.price} DA</p>
                            ${/*<button class="settings-btn" data-id="${article._id}"><i class="fa-solid fa-gear"></i></button>*/''}
                        </div>
                    `
                    
                    articleEl.querySelector('.remove-article').addEventListener('click', async () => {
                        // Delete Article in the DB
                        await fetch(`/dashboard/manage-articles/articles/${article._id}`, { method: 'DELETE' });

                        // Refresh Pending Articles Container
                        showPendingArticles();
                    })


                    pendingArticlesContainer.appendChild(articleEl);
                })

            } else {
                // Remove Loading Animation
                pendingArticlesLoadingAnim.style.display = "none";

                // Show Message
                const emptyPending = document.createElement('div');
                emptyPending.innerText = "No Pending Articles."
                emptyPending.style.textAlign = "center";
                emptyPending.style.gridColumn = "1 / 5";
                pendingArticlesContainer.appendChild(emptyPending);
            }
        }

        function setSidebarBtnClass() {
            // Add active class
            manageBtn.classList.add('active');
        }

        function clearUI() {
            // Replace Submit Button by Progress Container
            submitBtn.style.display = "block";
            progressContainer.style.display = "none";

            // Clear All Inputs
            myForm.reset();
            uploadTextEl.innerText = "Browse Photos to Upload";
            
            // Create Notification
            const notification = document.createElement('div');
            notification.classList.add('added-article-notification');
            notification.innerHTML = "Article Added!";
            formContainer.appendChild(notification);
        }

        async function launchArticles() {
            const articles = document.querySelectorAll('.article-element');

            if(articles.length !== 0) {
                // Show Popup
                popupContainer.style.display = "flex";

                // Turn The Articles from Pending to not Pending in DB / Remove Newest Status to Other Articles
                await fetch('/api/json/articles', { method: 'PUT' });

                // Refresh Pending Articles List
                showPendingArticles();

                // Update Popup Message
                popupIcone.classList.remove('circle2');
                popupIcone.innerHTML = '<i class="fa-brands fa-get-pocket"></i>';
                popupIcone.style.fontSize = "3rem";
                popupIcone.style.color = "#00DFA2";
                popupMessage.innerText = "Articles have been launched successfully!";
                popupContainer.querySelector('.popup').style.gap = "1px";

                const closeBtn = document.createElement('button');
                closeBtn.innerText = "Ok";
                closeBtn.style.marginTop = "15px";

                popupContainer.querySelector('button') ? popupContainer.querySelector('button').remove() : "";
                popupContainer.querySelector('.popup').appendChild(closeBtn);

                closeBtn.addEventListener('click', () => {
                    popupContainer.style.display = "none";
                })
            }
        }
    </script>
</body>
</html>